/* Style the header */
header {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    min-height: 50vh;
}

header h1 {
    max-width: 8ch;
}

header .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

@media screen and (width > 992px) {
    header .container {
        width: 800px;
        flex-direction: row;
        justify-content: space-around;
    }

}

header .container img {
    max-width: 130px;
    border-radius: 50%;
    box-shadow: inset 0 0px 0px 4px var(--primary-color-inverse);
}

@media screen and (width > 992px) {
    header .container img {
        max-width: 250px;
    }

}